<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;margin-top: -2em;">
          <div class="row g-0" style="margin-top: -2em;">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; font-size:large;">Sign into your account</h5>
                <div style="padding-bottom: 6px;">
                  <label style="padding-right: 1em;">User Type</label>

                  <select name="userType" id="userType" [(ngModel)]="userType">
                    <option value="Customer">Customer</option>
                    <option value="Admin">Admin</option>
                  </select>
                </div>
                
                <div class="form-outline mb-4">
                  <input type="email" [(ngModel)]="loginModel.loginId" id="form2Example17"
                    class="form-control form-control-lg" />
                  <label class="form-label">Username</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" [(ngModel)]="loginModel.password" id="form2Example27"
                    class="form-control form-control-lg" />
                  <label class="form-label">Password</label>
                </div>

                <div class="pt-1 mb-4">
                  <button class="btn btn-dark btn-lg btn-block" type="button" (click)="Login()">Login</button>
                </div>


                <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register"
                    style="color: #393f81;">Register here</a></p>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>